<div class="contents row">
  <h2>Log in</h2>
  <div class="card">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="input-field col s9">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="row">
        <div class="input-field col s9">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="actions col s12">
        <%= button_tag type: 'submit', class: "btn blue lighten-2 white-text send-btn" do %>
          <i class="material-icons left">verified_user</i>ログイン
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render "users/shared/links" %>
</div>