<div class="col s12 m10 offset-m1 l10 offset-l1">
  <div class="card card-panel hoverable">
    <div class="card-image">
    <%= link_to "/posts/#{post.id}" do %>
      <% if post.image.attached? %>
        <%= image_tag post.image %>
      <% else %>
        <%= image_tag "post_default.jpg" %>
      <% end %>
    <% end %>
    </div>
    <div class="card-content">
      <%= link_to "/posts/#{post.id}" do %>
        <span class="card-title truncate"><%= post.title %></span>
      <% end %>
      <p class="truncate"><%= post.text %></p>
    </div>
  </div>
</div>